<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet-src.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
<script src="data/positions.js"></script>   
<script src="js/hexbin.js"></script>
</head>
        
<body ng-app="feinstaub" layout="column">
                
  <div id ='header' flex="25" layout="row" layout-wrap >      
        
        <div id ='stadt' ng-controller="StadtCtrl as ctrl" flex="30" ng-cloak>
        <md-content class="md-padding">
        <md-button ng-click="ctrl.openDialog($event)" class="md-raised">Meine Stadt</md-button>
        </md-content>
        </div>
      
        <div id = 'info' ng-controller="InfoCtrl as ctrl" flex="40" ng-cloak>
        <md-content class="md-padding">
        <md-button ng-click="ctrl.openDialog($event)" class="md-raised">Informationen</md-button>
        </md-content>
        </div>
      
        <div id ='sensor' ng-controller="SensorCtrl as ctrl" flex="30" ng-cloak>
        <md-content class="md-padding">
        <md-button ng-click="ctrl.openDialog($event)" class="md-raised">Mein Sensor</md-button>
        </md-content>
        </div>
      
        <div class ='controls' flex="20" ng-cloak>
        <md-content class="md-padding">
        <md-button  id="hmPM10" value="hmPM10" onclick="reload(this.value)" ng-disabled="false" class="md-raised">PM10</md-button>
        </md-content>
        </div>
        <div class ='controls' flex="20" ng-cloak>
        <md-content class="md-padding">
        <md-button  id="hmPM2.5" value="hmPM2.5" onclick="reload(this.value)" ng-disabled="false" class="md-raised">PM2.5</md-button>
        </md-content>
        </div>
        <div class ='controls' flex="20" ng-cloak>
        <md-content class="md-padding">
        <md-button id="hmtemp" value="hmtemp" onclick="reload(this.value)" ng-disabled="false" class="md-raised">Temp.</md-button> 
        </md-content>
        </div>
        <div class ='controls' flex="20" ng-cloak>
        <md-content class="md-padding">
        <md-button id="hmhumi" value="hmhumi" onclick="reload(this.value)" ng-disabled="false" class="md-raised">Feucht.</md-button>
        </md-content>
        </div>
        <div class ='controls' flex="20" ng-cloak>
        <md-content class="md-padding">
        <md-button id="hmdruck" value="hmdruck" onclick="reload(this.value)"  ng-disabled="false" class="md-raised">Druck</md-button>
        </md-content>
        </div>
    
      
      <div class ='dynamic' ng-controller="WerteCtrl as ctrl" flex="50" ng-cloak>
        <md-content class="md-padding">
        <md-button  id ='werte' ng-click="ctrl.openDialog($event)" ng-disabled="true" class="md-raised">Werte</md-button>
        </md-content>
        </div>
      
      <div class ='dynamic' flex="50" ng-cloak>
        <md-content class="md-padding">
        <md-button  id="twitter" onclick="twitter(texte)" ng-disabled="true" class="md-raised">Twitter</md-button>
        </md-content>
        </div>
    
      
<!--
      
           <div id ='werte' ng-controller="WerteCtrl as ctrl" flex="50" ng-cloak>
        <md-content class="md-padding">
        <md-button  ng-click="ctrl.openDialog($event)" ng-disabled="true" class="md-raised">Werte</md-button>
        </md-content>
        </div>
      
      <div id ='twitter' flex="50" ng-cloak>
        <md-content class="md-padding">
        <md-button  onclick="twitter(txt)" ng-disabled="true" class="md-raised">Twitter</md-button>
        </md-content>
        </div>
    
      
      
-->

    
</div>
    <div id ='map'flex="75">
    
    

    <div id ='legendcontainer'>
        <div class ="legend" id="legendpm">
            <div id="legend-inner-pm">
                <div class="gradient">
                    <div class="limit"></div>
                </div>
                <div class="labels">
                    <div class="label" style="bottom: 100%;"><b>500</b></div>
                    <div class="label" style="bottom: 80%;"><b>100</b></div>
                    <div class="label" style="bottom: 60%;"><b>75</b></div>
                    <div class="label limit" style="bottom: 41%;"><b>50</b></div>
                    <div class="label" style="bottom: 20%;"><b>25</b></div>
                    <div class="label" style="bottom: 1%;"><b>0 &micro;g/m&sup3;</b></div>
                </div>
            </div>
        </div>        
    </div>

       <div class ="legend" id="legendtemp">
<div id="legend-inner-temp">
<div class="gradient">
<div class="limit">
</div>
</div>
<div class="labels">
<div class="label" style="bottom: 100%;"><b>50</b></div>
<div class="label" style="bottom: 65%;"><b>25</b></div>
<div class="label" style="bottom: 30%;"><b>0</b></div>
<div class="label" style="bottom: 1%;"><b>-20 &deg;</b></div>
</div>
</div>
</div>
    
<div class ="legend" id="legendhumi">
<div id="legend-inner-humi">
<div class="gradient">
<div class="limit">
</div>
</div>
<div class="labels">
    <div class="label" style="bottom: 100%;"><b>100</b></div>
    <div class="label" style="bottom: 80%;"><b>80</b></div>
<div class="label" style="bottom: 60%;"><b>60</b></div>
<div class="label " style="bottom: 40%;"><b>40</b></div>
<div class="label" style="bottom: 20%;"><b>20</b></div>
<div class="label" style="bottom: 1%;"><b>0 &#37;</b></div>
</div>
</div>
</div> 
        
        
        
<div class ="legend" id="legenddruck">
<div id="legend-inner-druck">
<div class="gradient">
<div class="limit">
</div>
</div>
<div class="labels">
<div class="label " style="bottom: 100%;"><b>1100 hPa</b></div>
<div class="label" style="bottom: 50%;"><b>1013 hPa</b></div>
<div class="label" style="bottom: 1%;"><b>926 hPa</b></div>
</div>
</div>
</div> 
        
        
        
        
        
        
        
        
        
<!--
        
        A FINIR:
        
        AJOUTER SETINTERVAL
        REVOIR POUR LA VALEUR DANS LE TWEET POUR VILLE
        REVOIR LES NIVEAUX DE ZOOM POUR LA MOYENNE DES VILLES
        AJOUTER CLICK SUR LES HEXAGONS AVEC NUMERO DU SENSOR
        
-->
        
        
        
        
        
        
        
    
    
    </div> 


    
    
  
<script type="text/javascript" src="js/map.js"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script> 
    
<script type="text/javascript" src="js/appcomponents.js"></script> 
   
            
      
</body>
</html>

